.Rproj.user
.Rhistory
.RData
.Ruserdata
datasets/
models/
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/__packages
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersBasic_0f092b0f13a8a983949dc8cc662c7e0c.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersBasic_0f092b0f13a8a983949dc8cc662c7e0c.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersBasic_0f092b0f13a8a983949dc8cc662c7e0c.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersBasic2_49c214b61efc44517d1026a1c6a9550d.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersBasic2_49c214b61efc44517d1026a1c6a9550d.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersBasic2_49c214b61efc44517d1026a1c6a9550d.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersBasic3_86f03730b98a3ddafe211c384b5bb147.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersBasic3_86f03730b98a3ddafe211c384b5bb147.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersBasic3_86f03730b98a3ddafe211c384b5bb147.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersBasic4_02386bf6c15a01611cdd00fea000484f.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersBasic4_02386bf6c15a01611cdd00fea000484f.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersBasic4_02386bf6c15a01611cdd00fea000484f.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersBasic5_42dd5841dc25c45970c36c930a0295a8.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersBasic5_42dd5841dc25c45970c36c930a0295a8.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersBasic5_42dd5841dc25c45970c36c930a0295a8.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel_f023065905cfad278043668f8360cbe5.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel_f023065905cfad278043668f8360cbe5.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel_f023065905cfad278043668f8360cbe5.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel2_2449c541b4e17cc447fdfce72cdede46.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel2_2449c541b4e17cc447fdfce72cdede46.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel2_2449c541b4e17cc447fdfce72cdede46.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel3_2a6a3b0b20aaed31132b9f67788f3119.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel3_2a6a3b0b20aaed31132b9f67788f3119.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel3_2a6a3b0b20aaed31132b9f67788f3119.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel4_72cccead2ac63155a6511a25b51e8f1b.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel4_72cccead2ac63155a6511a25b51e8f1b.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel4_72cccead2ac63155a6511a25b51e8f1b.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel5_23570c01a7da394bb41dfed0a08dfbad.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel5_23570c01a7da394bb41dfed0a08dfbad.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel5_23570c01a7da394bb41dfed0a08dfbad.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel6_343d9a75275d63e37ca0ae8d58f2d6ab.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel6_343d9a75275d63e37ca0ae8d58f2d6ab.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel6_343d9a75275d63e37ca0ae8d58f2d6ab.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel7_ce49b31f439cad15da6e64b8ee8fc63d.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel7_ce49b31f439cad15da6e64b8ee8fc63d.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel7_ce49b31f439cad15da6e64b8ee8fc63d.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel8_59723bd56fd4f08498561c28e7022958.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel8_59723bd56fd4f08498561c28e7022958.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel8_59723bd56fd4f08498561c28e7022958.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel9_ea903c761715721155ab4aece3bc92bc.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel9_ea903c761715721155ab4aece3bc92bc.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel9_ea903c761715721155ab4aece3bc92bc.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel10_d98e72c3bb30341121b5338cc7e911de.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel10_d98e72c3bb30341121b5338cc7e911de.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel10_d98e72c3bb30341121b5338cc7e911de.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel11_66b2242d8679eb4c2120a02fd9812caa.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel11_66b2242d8679eb4c2120a02fd9812caa.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel11_66b2242d8679eb4c2120a02fd9812caa.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel12_ab9c9c122c46b69e8c5c0987f2e8b65c.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel12_ab9c9c122c46b69e8c5c0987f2e8b65c.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel12_ab9c9c122c46b69e8c5c0987f2e8b65c.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel13_18c16cda26fa29686dd2b6031d9944ac.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel13_18c16cda26fa29686dd2b6031d9944ac.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel13_18c16cda26fa29686dd2b6031d9944ac.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel14_88bdd241baaeade2e9b86f79ab9ca5d5.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel14_88bdd241baaeade2e9b86f79ab9ca5d5.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel14_88bdd241baaeade2e9b86f79ab9ca5d5.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel15_bd374f5128fd7fcafaf250251262eb77.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel15_bd374f5128fd7fcafaf250251262eb77.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel15_bd374f5128fd7fcafaf250251262eb77.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel16_67f6b18d7391713f8904ba4aa4777eca.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel16_67f6b18d7391713f8904ba4aa4777eca.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel16_67f6b18d7391713f8904ba4aa4777eca.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel17_45d8a7eb0842084789d4aa017e98a193.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel17_45d8a7eb0842084789d4aa017e98a193.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModel17_45d8a7eb0842084789d4aa017e98a193.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModelPrep_a0d37fb1e7fcf6e79be774c3b07fb0a3.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModelPrep_a0d37fb1e7fcf6e79be774c3b07fb0a3.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/fig:volunteersModelPrep_a0d37fb1e7fcf6e79be774c3b07fb0a3.rdx
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/volunteersVis_7f085db43bbe71bb5e290bc2404d4a72.RData
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/volunteersVis_7f085db43bbe71bb5e290bc2404d4a72.rdb
nestaVolunteers/nestaVolunteers/reportVolunteers_cache/latex/volunteersVis_7f085db43bbe71bb5e290bc2404d4a72.rdx
nestaVolunteers/nestaVolunteers/competitionModel.rds
nestaVolunteers/nestaVolunteers/competitionQuadraticDropModel.rds
